---
import Layout from "../layouts/Layout.astro";
import { images } from '../ts/images'
import { fade } from 'astro:transitions';

export async function getStaticPaths() {
    return images.map( ({id, name, src, alt, title}) => ({
        params: {id},
        props: {name, src, alt, title}
    }));
}
const { id } = Astro.params;
const { name, src, alt, title } = Astro.props;
---

<Layout title={name}>
    <section>
        <picture>
            <source src={`${src}${id}.jpg`} type="image/jpg">
            <img transition:animate={fade({ duration: '1s' })} src={`${src}${id}-big.webp`} alt={alt} title={title} loading="lazy" decoding="async" class="transition duration-300">
        </picture>
    </section>
</Layout>